<div class="container px-0 mt-5 gap-2">
  <div class="row row-cols-2 row-cols-lg-4">
    <div class="col" *ngFor="let pizza of pizzaService.pizzas">
      <div
        class="card shadow-sm mt-3 justify-content-center text-center"
      >
        <img src="{{ pizza.image }}" class="card-img-top" [alt]="pizza.name" />
        <div class="card-body pb-3">
          <h5 class="card-title">{{ pizza.name }}</h5>
          <!-- <p class="card-text">{{ pizza.description }}</p> -->
          <p class="card-text fw-semibold">
            {{ pizza.price | currency : "EUR" : true }}
          </p>
          <div class="btn-container d-flex justify-content-around mb-3">
            <button
              class="btn btn-minus rounded-circle text-white fw-semibold"
              (click)="cartService.removeFromCart(pizza)"
            >
              -
            </button>
            <p class="card-text">{{ pizza.quantity }}</p>
            <button
              class="btn btn-plus rounded-circle text-white fw-semibold"
              (click)="cartService.addToCart(pizza)"
            >
              +
            </button>
          </div>
          <!-- al click, elimina una card -->
          <button
            class="btn delete-btn rounded-pill text-center d-flex align-items-center gap-1 mx-auto fw-semibold"
            (click)="pizzaService.deletePizzas(pizza.id)"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              height="16"
              width="14"
              viewBox="0 0 448 512"
            >
              <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
              <path
                d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
              /></svg
            >Elimina
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
